*{box-sizing:border-box;padding: 0;margin: 0;}

.media-logos{
    margin:50px auto;
    height: 200px;
    width: 80%;
    border:1px solid pink;

    display: grid;
    display: -moz-grid;
    grid-template-columns: 6% 6% 6% 6% 6% 6% 28% 6% 6% 6% 6% 6% 6%;
    grid-template-rows: 50% 50%;
    grid-template-areas: 
        "item1 item1 item2 item2 item3 item3 active-item item4 item4 item5 item5 item6 item6"
        "item7 item7 item7 item8 item8 item8 active-item item9 item9 item9 item10 item10 item10";
    justify-items: center;
    align-items: center;
}

.content-item{
    height:40px;
    width:80%;
    background: #ddd;
    border:1px solid violet;
}

.item1{
    grid-area: item1;
}

.item2{
    grid-area: item2;
}

.item3{
    grid-area: item3;
}

.item4{
    grid-area: item4;
}

.item5{
    grid-area: item5;
}

.item6{
    grid-area: item6;
}

.item7{
    grid-area: item7;
}

.item8{
    grid-area: item8;
}

.item9{
    grid-area: item9;
}

.item10{
    grid-area: item10;
}


.content-item.active{
    grid-area: active-item;
    width:100%;
    height: 50%;
}

